:root{
  --swiper-navigation-size: 35px;
  --swiper-button-transform: translateY(-50%);
}

body {
  margin: 0;
  padding: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
  min-height: 100vh;
}

/* Nav Starts here  */

#nav {
  position: sticky;
  top: 0;
  padding-bottom: 0px;
  z-index: 2;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bolder;
}

.footer {
  color: white;
  background-color: #1a1d20;
  padding-top: 30px;
  padding-bottom: 80px;
  text-align: center;
}

/* Restaurant-carousel  starts here  */

#carousal-image {
  height: 500px;
}

@media (max-width: 313px) {
  #carousal-image {
    height: 220px;
  }
}

/* Media query for width between 313px and 1024px */
@media (min-width: 314px) and (max-width: 604px) {
  #carousal-image {
    height: 220px;
  }
}

.caption-title {
  font-size: 44px;
  font-weight: bolder;
}

.caption-body {
  font-size: 24px;
}

/* Some description  */
.some-description {
  text-align: center;
  margin: 50px;
  font-size: 30px;
}

/* swiper / carousel section starts here  */

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 90%; */
  object-fit: cover;
  margin-bottom: 30px; /* Introduced some space here*/
}

.swiper {
  width: 100%;
  /* height: 300px; */
  margin: 20px auto;
}

.swiper-slide {
  position: relative;
}

.slide-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.some-description .description {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #1a1d20;
}

.swiper-button-next, .swiper-button-prev{
  font-size: var(--swiper-navigation-size);
  width: var(--swiper-navigation-size);
  height: var(--swiper-navigation-size);
  transform: var(--swiper-button-transform);
}

@media (min-width: 300px) and (max-width: 604px) {
  .some-description .description {
    font-size: 24px;
  }
}

/* End of Swiper CSS*/