body{
    margin: 0;
    padding: 0px;
}

.wrapper{
    min-height: 100vh;
}

#nav{
    position: sticky;
    top: 0;
    padding-bottom: 0px;
    z-index: 2;
}

.navbar-brand{
 font-size: 30px;
 font-weight: bolder;
}

.footer{
    color:white;
    background-color: #1a1d20;
    padding-top: 30px;
    padding-bottom: 80px;
    text-align: center;
}

/* #resturant-carousel{
    
} */

#carousal-image{
    height: 500px;
}

@media (max-width: 313px) {
    #carousal-image {
        height: 220px;
    }   
}

/* Media query for width between 313px and 1024px */
@media (min-width: 314px) and (max-width: 604px) {
    #carousal-image {
        height: 220px;
    }   
}

.caption-title{
    font-size: 44px;
    font-weight: bolder;
}

.caption-body{
    font-size: 20px;
}
